.App {
  margin-top: 5%;
  text-align: center;
}

.svg-line-chart-tooltip {
  width: auto !important;
  text-align: left !important;
}

.upload-button {
  margin-left: 5%;
  margin-top: 2%;
}

.file-type {
    margin-right: 3%;
}

.load-button {
    margin-left: 5%;
    margin-top: 1%;
}

.cml {
    margin-right: 2%;
}

.stocks {
    margin-right: 2%;
}

.download-button {
    margin-left: 15%;
    margin-top: 2%;
}

.single-dl-button {
    float: left;
    margin-left: 5%;
    margin-top: 2%;
}