.App {
  text-align: center;
}

.svg-line-chart-tooltip {
  width: auto !important;
  text-align: left !important;
}

.upload-button {
  margin-left: 5%;
  margin-top: 2%;
  margin-right: -10%;
  float: left;
}
